<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px; width: 90%; margin: auto; font-size: 1rem; font-weight: 400;">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="text-align: center;">
                    <div style="max-width: 100%; width: 220px; height: 120px; margin-left: auto; background-image: url({{imagePath}}); background-size: contain;"></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <h2 style="font-size: 1.6rem; font-weight: bold; margin-bottom: 3rem; text-align: center;">Password Reset Request</h2>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <p style="font-weight: 900; margin-bottom: .5rem;">Hello {{firstName}},</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <p style="margin-bottom: 1rem;">We received a request to reset your password. Kindly click the button below to reset your password:</p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0" style="background-color: #5D9C59; border-radius: 4px; width: fit-content; margin: 2rem auto;">
                <tr>
                  <td align="center">
                    <a href="{{link}}" target="_blank" style="text-decoration: none; color: white; font-weight: bold; display: block; padding: .8rem 2.5rem;">Reset Password</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="text-align: center;">
              <p style="margin-bottom: 1rem;">If you did not initiate this request, you can safely ignore this email.</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <p style="margin-bottom: 1rem;">You can copy the link and paste it into your browser also: {{link}}</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <p style="margin-bottom: 1rem;">Cheers,</p>
              <p>Claus from <span style="color: #DF2E38; font-weight: 700">SecretSanta!!!</span></p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <div style="background-color: #DDF7E3; color: #FFF; padding-block: 30px; border-radius: 4px;">
                <h3 style="color: #DF2E38; margin-bottom: 1rem;">Want to make enquiries?</h3>
                <a href="#" style="text-decoration: none; color: white;">Send us a message</a>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
